<div style="text-align:center">
  <h1>
      Welcome to {{pageTitle}}!!
  </h1>
  <!-- ... Starter Files ... -->

  <div class="loc">
    <nav class='navbar-expand navbar-light bg-light'>
          
        <h2 class='navbar-brand'>{{title}}</h2>
        <ul class='nav nav-pills'>
        <li><a class='nav-link' routerLink='/welcome'>Home</a></li>
        <li><a class='nav-link'routerLink='/products'>Product List</a></li>
      </ul>
      
  
    </nav>
    <div class='container'>
      <router-outlet></router-outlet>
      </div>
    </div>
</div>
