<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body-sm">
    <div class="container-sm">
      <div class="text-center">
        <img src="./assets/images/M_logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Prakhyath Gujje</h3>
      </div>

      <div class="text-center">@prakhyath_gujje</div>
      <div class="text-center">
        <a href="https://github.com/prakhyathgujje">https://github.com/prakhyathgujje</a>
      </div>
    </div>
  </div>
</div>
